In [5]:
#Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [33]:
#Read in CSV
stats_df = pd.read_csv('seasons_stats.csv')
stats_df

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [34]:
#Add MVP column
stats_df['MVP'] = "0"

#Drop player stats prior to 1980. Drop rows with Tm as TOT.Drop empty rows
stats_df=stats_df[(stats_df["Year"]>=1980) & (stats_df["Tm"]!="TOT") & (stats_df["Year"]!= "")]

#Drop unnnecessary columns
stats_df=stats_df.drop(columns=['Unnamed: 0', 'blanl', 'blank2'])

#Convert all NaN to zero
stats_df = stats_df.fillna(0)
stats_df['Year'] = stats_df['Year'].astype(int)

In [35]:
#Add MVP winners

#1979-1980 Kareem Abdul-Jabbar
stats_df.at[5727, 'MVP']= 1
#1980-1981 Julius Erving
stats_df.at[6179, 'MVP']= 1
#1981-1982 Moses Malone
stats_df.at[6672, 'MVP']= 1
#1982-1983 Moses Malone
stats_df.at[7045, 'MVP']= 1
#1983-1984 Larry Bird
stats_df.at[7230, 'MVP']= 1
#1984-1985 Larry Bird
stats_df.at[7574, 'MVP']= 1
#1985-1986 Larry Bird
stats_df.at[7940, 'MVP']= 1
#1986-1987 Magic Johnson
stats_df.at[8459, 'MVP']= 1
#1987-1988 Michael Jordan
stats_df.at[8869, 'MVP']= 1
#1988-1989 Magic Johnson
stats_df.at[9283, 'MVP']= 1
#1989-1990 Magic Johnson
stats_df.at[9735, 'MVP']= 1
#1990-1991 Michael Jordan
stats_df.at[10212, 'MVP']= 1
#1991-1992 Michael Jordan
stats_df.at[10666, 'MVP']= 1
#1992-1993 Charles Barkley
stats_df.at[10937, 'MVP']= 1
#1993-1994 Hakeem Olajuwon
stats_df.at[11688, 'MVP']= 1
#1994-1995 David Robinson
stats_df.at[12182, 'MVP']= 1
#1995-1996 Michael Jordan
stats_df.at[12528, 'MVP']= 1
#1996-1997 Karl Malone
stats_df.at[13143, 'MVP']= 1
#1997-1998 Michael Jordan
stats_df.at[13654, 'MVP']= 1
#1998-1999 Karl Malone SHORTENED LOCKOUT SEASON
stats_df.at[14236, 'MVP']= 1
#1999-2000 Shaquille O'Neal
stats_df.at[14806, 'MVP']= 1
#2000-2001 Allen Iverson
stats_df.at[15186, 'MVP']= 1
#2001-2002 Tim Duncan
stats_df.at[15643, 'MVP']= 1
#2002-2003 Tim Duncan
stats_df.at[16129, 'MVP']= 1
#2003-2004 Kevin Garnett
stats_df.at[16674, 'MVP']= 1
#2004-2005 Steve Nash
stats_df.at[17452, 'MVP']= 1
#2005-2006 Steve Nash
stats_df.at[18020, 'MVP']= 1
#2006-2007 Dirk Nowitzki
stats_df.at[18569, 'MVP']= 1
#2007-2008 Kobe Bryant
stats_df.at[18825, 'MVP']= 1
#2008-2009 LeBron James
stats_df.at[19611, 'MVP']= 1
#2009-2010 LeBron James
stats_df.at[20207, 'MVP']= 1
#2010-11 Derrick Rose
stats_df.at[20991, 'MVP']= 1
#2011-2012 Lebron James
stats_df.at[21395, 'MVP']= 1
#2012-2013 LeBron James
stats_df.at[21933, 'MVP']= 1
#2013-2014 Kevin Durant
stats_df.at[22438, 'MVP']= 1
#2014-2015 Stephen Curry
stats_df.at[23000, 'MVP']= 1
#2015-2016 Stephen Curry
stats_df.at[23633, 'MVP']= 1
#2016-2017 Russell Westbrook
stats_df.at[24654, 'MVP']= 1

In [36]:
stats_df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,MVP
5727,1980,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,0.0,3143.0,25.3,0.639,...,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0,1
5728,1980,Tom Abernethy,PF,25.0,GSW,67.0,0.0,1222.0,11.0,0.511,...,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0,0
5729,1980,Alvan Adams,C,25.0,PHO,75.0,0.0,2168.0,19.2,0.571,...,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0,0
5730,1980,Tiny Archibald*,PG,31.0,BOS,80.0,80.0,2864.0,15.3,0.574,...,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0,0
5731,1980,Dennis Awtrey,C,31.0,CHI,26.0,0.0,560.0,7.4,0.524,...,29.0,86.0,115.0,40.0,12.0,15.0,27.0,66.0,86.0,0

In [54]:
#Read in CSV
candidates_file_df = pd.read_csv('mvp_candidates.csv')
candidates_file_df['Year_Name'] = candidates_file_df['Year'].astype(str) + candidates_file_df['Player']
candidates_file_df.head()

   Year               Player                Year_Name
0  1980  Kareem Abdul-Jabbar  1980Kareem Abdul-Jabbar
1  1980        Julius Erving        1980Julius Erving
2  1980        George Gervin        1980George Gervin
3  1980           Larry Bird           1980Larry Bird
4  1980       Tiny Archibald       1980Tiny Archibald

In [55]:
stats_df['Year_Name'] = stats_df['Year'].astype(str) + stats_df['Player']

In [56]:
mvp_candidates_df = pd.DataFrame()

In [57]:

filter1 = stats_df['Year_Name'].isin(candidates_file_df['Year_Name'])
mvp_candidates = stats_df[filter1]
mvp_candidates

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,MVP,Year_Name
6012,1980,Dan Roundfield,PF,26.0,ATL,81.0,0.0,2588.0,19.7,0.551,...,544.0,837.0,184.0,101.0,139.0,233.0,317.0,1334.0,0,1980Dan Roundfield
6072,1980,Gus Williams,PG,26.0,SEA,82.0,0.0,2969.0,20.6,0.529,...,148.0,275.0,397.0,200.0,37.0,181.0,160.0,1816.0,0,1980Gus Williams
6248,1981,Marques Johnson,SF,24.0,MIL,76.0,0.0,2542.0,22.0,0.583,...,293.0,518.0,346.0,115.0,41.0,190.0,196.0,1541.0,0,1981Marques Johnson
6694,1982,Sidney Moncrief,SG,24.0,MIL,80.0,80.0,2980.0,20.1,0.601,...,313.0,534.0,382.0,138.0,22.0,208.0,206.0,1581.0,0,1982Sidney Moncrief
6751,1982,Jack Sikma,C,26.0,SEA,82.0,82.0,3049.0,20.6,0.559,...,815.0,1038.0,277.0,102.0,107.0,213.0,268.0,1611.0,0,1982Jack Sikma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24365,2017,LeBron James,SF,32.0,CLE,74.0,74.0,2794.0,27.0,0.619,...,543.0,640.0,646.0,92.0,44.0,303.0,134.0,1954.0,0,2017LeBron James
24414,2017,Kawhi Leonard,SF,25.0,SAS,74.0,74.0,2474.0,27.5,0.611,...,350.0,430.0,260.0,132.0,55.0,154.0,122.0,1888.0,0,2017Kawhi Leonard
24612,2017,Isaiah Thomas,PG,27.0,BOS,76.0,76.0,2569.0,26.5,0.625,...,162.0,205.0,449.0,70.0,13.0,210.0,167.0,2199.0,0,2017Isaiah Thomas
24646,2017,John Wall,PG,26.0,WAS,78.0,78.0,2836.0,23.2,0.541,...,268.0,326.0,831.0,157.0,49.0,323.0,151.0,1805.0,0,2017John Wall
24654,2017,Russell Westbrook,PG,28.0,OKC,81.0,81.0,2802.0,30.6,0.554,...,727.0,864.0,840.0,133.0,31.0,438.0,190.0,2558.0,1,2017Russell Westbrook

In [ ]:
#Drop columns we identified as not being relevent
mvp_candidates_df=stats_df.drop(columns=['Year', 'Year_Name', '3PA', 'Pos', '3PAr', 'Tm', "eFG%", "FT%", "FTr", "Age", "Player", "GS"])